<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yorha.cblog.dao.JabberMapper" >
  <resultMap id="BaseResultMap" type="org.yorha.cblog.Entity.JabberEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="publicated_time" property="publicatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, context, user_id, publicated_time
  </sql>

  <select id="selectAllJabber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_jabber order by id desc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_jabber
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_jabber
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.yorha.cblog.Entity.JabberEntity" >
    insert into t_jabber (id, context, user_id, 
      publicated_time)
    values (#{id,jdbcType=BIGINT}, #{context,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{publicatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.yorha.cblog.Entity.JabberEntity" >
    insert into t_jabber
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="publicatedTime != null" >
        publicated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="publicatedTime != null" >
        #{publicatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yorha.cblog.Entity.JabberEntity" >
    update t_jabber
    <set >
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="publicatedTime != null" >
        publicated_time = #{publicatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yorha.cblog.Entity.JabberEntity" >
    update t_jabber
    set context = #{context,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      publicated_time = #{publicatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>